[submodule "self"]
	path = self
	url = https://github.com/selfxyz/self.git
[submodule "CMTAT"]
	path = CMTAT
	url = https://github.com/CMTA/CMTAT.git
[submodule "RuleEngine"]
	path = RuleEngine
	url = https://github.com/CMTA/RuleEngine.git
[submodule "poseidon-solidity"]
	path = poseidon-solidity
	url = https://github.com/chancehudson/poseidon-solidity.git
