[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/RuleEngine"]
	path = lib/RuleEngine
	url = https://github.com/CMTA/RuleEngine
[submodule "lib/self"]
	path = lib/self
	url = https://github.com/selfxyz/self
